{% extends "app1/gabarit.html" %}
{% load static %}

{% block title %}{{ title }} une catégorie{% endblock %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'app1/formulaire.css' %}">
{% endblock %}

{% block content %}
  <div class="edit-wrapper">
    <a href="{% url 'categorie-manage' %}" class="btn-retour">Retour</a>
    <div class="edit-title">
      <span>{{ title }} une catégorie</span>
    </div>
    <form method="post" enctype="multipart/form-data" autocomplete="off">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn-publier">{{ submit_label }}</button>
    </form>
  </div>
{% endblock %}