{% extends "app1/gabarit.html" %}
{% load static %}

{% block title %}Modifier le client {{ client.nom }} {{ client.prenom }}{% endblock %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'app1/formulaire.css' %}">
{% endblock %}

{% block content %}
  <div class="edit-wrapper">
    <a href="{% url 'client-list' %}" class="btn-retour">Retour</a>
    <div class="edit-title">Modifier le client</div>
    {% if form.errors %}
      <div class="form-errors">
        {% for field in form %}
          {% for error in field.errors %}
            <div>{{ field.label }} : {{ error }}</div>
          {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
          <div>{{ error }}</div>
        {% endfor %}
      </div>
    {% endif %}
    <form method="post" class="client-form" autocomplete="off">
      {% csrf_token %}
      <div class="form-row">
        <label for="{{ form.nom.id_for_label }}">Nom</label>
        {{ form.nom }}
      </div>
      <div class="form-row">
        <label for="{{ form.prenom.id_for_label }}">Prénom</label>
        {{ form.prenom }}
      </div>
      <div class="form-row">
        <label for="{{ form.email.id_for_label }}">Email</label>
        {{ form.email }}
      </div>
      <div class="form-row">
        <label for="{{ form.adresse.id_for_label }}">Adresse</label>
        {{ form.adresse }}
      </div>
      <button type="submit" class="btn-publier">Enregistrer</button>
    </form>
  </div>
{% endblock %}